<div class="background-overlay"></div>
<section id="header">
    <div class="owl-carousel">
        <div id="slider1" style="background: url('{{sliderImg1}}') 0 0 no-repeat; background-size: cover;"></div>
        <div id="slider2" style="background: url('{{sliderImg2}}') 0 0 no-repeat; background-size: cover;"></div>
        <div id="slider3" style="background: url('{{sliderImg3}}') 0 0 no-repeat; background-size: cover;"></div>
        <div id="slider4" style="background: url('{{sliderImg4}}') 0 0 no-repeat; background-size: cover;"></div>
        <div id="slider5" style="background: url('{{sliderImg5}}') 0 0 no-repeat; background-size: cover;"></div>
    </div>
    <div class="mask">
        <div id="home-logo">
            <img src="/images/logo-head.svg" alt="CrossFit Madtown Logo">
        </div>
        <h1 id="siteTitle" class="editable"><span>CROSSFIT</span><span class="yellow-font">MA<span>DTO</span>WN</span></h1>
        <h2 class="editable">We're a <span>weightlifting</span> gym with a <span>CrossFit</span> problem.</h2>
    </div>
    {{>topnav}}
    {{>sidenav}}
</section>
