<section id="site-menu" class="visible-xs">
    <a href="#" class="toggle-nav" id="menu-close"><span class="fa fa-times"></span></a>
    <div class="menu-links">

        <a class="page-link" href="/">Home</a>
        {% for nav_item in site.data.crossfit %}

        {% if nav_item.type == 'main' or nav_item.type == 'Main' or nav_item.type == 'MAIN' %}
        {% if nav_item.permalink %}
        <a class="page-link" href="{{ nav_item.permalink }}">{{ nav_item.title }}</a>
        {% else %}
        <a class="page-link" role="button" data-toggle="collapse" href="#{{ nav_item.id }}" aria-expanded="false" aria-controls="{{ nav_item.id }}">{{ nav_item.title }}<span class="fa fa-chevron-right pull-right"></span></a>
        <div class="collapse collapse-style" id="{{ nav_item.id }}">
            {% for dropdown in site.data.crossfit %}
            {% if dropdown.group == nav_item.group and dropdown.type == 'subNav' %}
            <a href="{{ dropdown.permalink }}">{{ dropdown.title }}</a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}

        {% for nav_item in site.data.athletic-performance-training %}

        {% if nav_item.type == 'main' or nav_item.type == 'Main' or nav_item.type == 'MAIN' %}
        {% if nav_item.permalink %}
        <a class="page-link" href="{{ nav_item.permalink }}">{{ nav_item.title }}</a>
        {% else %}
        <a class="page-link" role="button" data-toggle="collapse" href="#{{ nav_item.id }}" aria-expanded="false" aria-controls="{{ nav_item.id }}">{{ nav_item.title }}<span class="fa fa-chevron-right pull-right"></span></a>
        <div class="collapse collapse-style" id="{{ nav_item.id }}">
            {% for dropdown in site.data.athletic-performance-training %}
            {% if dropdown.group == nav_item.group and dropdown.type == 'subNav' %}
            <a href="{{ dropdown.permalink }}">{{ dropdown.title }}</a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        <a class="page-link" href="/olympic-lifting">Olympic Lifting</a>
        <a class="page-link" href="/hot-mammas">Hot Mammas</a>
        <a class="page-link" href="/coaches">Coaches</a>
    </div>
</section>
<a href="#" class="toggle-nav btn visible-xs " id="menu-btn"><span class="fa fa-bars"></span>
</a>

